<div style="padding: 10%">
  <form [formGroup]="addressFormGroup">

    <mat-search-google-maps-autocomplete formControlName="address">
    </mat-search-google-maps-autocomplete>
    <!-- <mat-google-maps-autocomplete formControlName="address">
    </mat-google-maps-autocomplete> -->
  
  </form>
</div>

<hr>

<div style="padding-right: 10%;padding-left: 10%">
  <form [formGroup]="addressFormGroup2">

    <!-- <mat-search-google-maps-autocomplete formControlName="address">
    </mat-search-google-maps-autocomplete> -->
    <mat-google-maps-autocomplete formControlName="address2">
    </mat-google-maps-autocomplete>
  
  </form>
</div>
